In [12]:
import pandas as pd
import numpy as np

과제1) Wikipedia에서 테이블을 가진 페이지 DF 추출하기

In [14]:
dfs = pd.read_html('https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%A0%95%EB%8B%B9_%EC%A7%80%EC%A7%80%EC%9C%A8')
dfs[5]

         조사 기간    새누리당         새정치민주연합             정의당
         조사 기간 한국갤럽[4] 리얼미터[5] 한국갤럽[4] 리얼미터[5] 한국갤럽[4] 리얼미터[5]
0  2015년 1월 1주   44.0%   40.8%   24.0%   23.6%    4.0%    4.3%
1  2015년 1월 2주   43.0%   39.3%   23.0%   21.2%    4.0%    4.8%
2  2015년 1월 3주   41.0%   38.6%   23.0%   22.2%    3.0%    4.5%
3  2015년 1월 4주   41.0%   35.9%   24.0%   27.5%    5.0%    4.1%

In [ ]:
과제2) movies.csv 파일이 메모리에서 차지하는 용량을 줄이려고 한다. 어떤 방법들이 있고, 시행했을 때 얼마나 메모리가 줄어드는가?

In [28]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [21]:
movies = pd.read_csv('data/movie.csv', nrows = 1000)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float64
 3   duration                   997 non-null    float64
 4   director_facebook_likes    982 non-null    float64
 5   actor_3_facebook_likes     998 non-null    float64
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float64
 8   gross                      965 non-null    float64
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 218.9+ KB

In [24]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,998.0,2.246503e+02,1.418149e+02,1.00,125.50,190.00,2.937500e+02,813.0
duration,997.0,1.167242e+02,2.616562e+01,22.00,100.00,115.00,1.300000e+02,280.0
director_facebook_likes,982.0,1.310123e+03,4.033584e+03,0.00,14.25,101.00,3.800000e+02,22000.0
actor_3_facebook_likes,998.0,1.298911e+03,2.845385e+03,0.00,307.25,562.00,8.540000e+02,23000.0
actor_1_facebook_likes,1000.0,1.066608e+04,1.124150e+04,2.00,980.50,10000.00,1.500000e+04,87000.0
gross,965.0,1.094586e+08,9.596531e+07,9213.00,43337279.00,80033643.00,1.412040e+08,760505847.0
num_voted_users,1000.0,1.775484e+05,1.981364e+05,6.00,54018.25,111052.50,2.301000e+05,1676169.0
cast_total_facebook_likes,1000.0,1.662582e+04,1.758710e+04,2.00,2972.00,12953.00,2.270325e+04,108016.0
facenumber_in_poster,998.0,1.224449e+00,1.703652e+00,0.00,0.00,1.00,2.000000e+00,15.0
num_user_for_reviews,998.0,5.274569e+02,5.719146e+02,1.00,194.00,342.00,6.392500e+02,5060.0
budget,961.0,9.230017e+07,4.665297e+07,1400000.00,60000000.00,75000000.00,1.120000e+08,300000000.0
title_year,980.0,2.005715e+03,6.702154e+00,1962.00,2001.00,2006.00,2.011000e+03,2016.0
actor_2_facebook_likes,999.0,3.268672e+03,5.171729e+03,0.00,555.50,871.00,3.000000e+03,27000.0
imdb_score,1000.0,6.496200e+00,1.000963e+00,2.20,5.90,6.50,7.200000e+00,9.0
aspect_ratio,990.0,2.275566e+00,1.103291e+00,1.33,1.85,2.35,2.350000e+00,16.0
movie_facebook_likes,1000.0,1.593171e+04,3.123175e+04,0.00,0.00,606.00,1.900000e+04,349000.0

모든 float64를 16으로 바꾸고 명목형 object 변수들을 category로 바꾸기.

In [27]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [34]:
movies2 = pd.read_csv('data/movie.csv', nrows = 1000,
                     dtype = {
                         'num_critic_for_reviews' : np.float16,
                         'duration' : np.float16,
                         'director_facebook_likes' : np.float16,
                         'actor_3_facebook_likes' : np.float16,
                         'actor_1_facebook_likes' : np.float16,
                         'gross' : np.float16,
                         'color' : 'category',
                         'genres' : 'category',
                         'language' : 'category',
                         'country' : 'category',
                         'content_rating' : 'category'
                     })

movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    category
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   category
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    category
 20  country                    998 non-null    category
 21  content_rating             986 non-null    category
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: category(5), float16(6), float64(7), int64(3), object(7)
memory usage: 165.0+ KB

218.9+ KB 였던 DB가 53.9+KB 감소하여 165.0+KB의 DB가 되었습니다.

In [35]:
round(165.0/218.9, 2)

0.75

In [ ]:
모든 변수의 메모리를 줄이지 않았음에도, 처음과 비교해 0.75%의 메모리만 사용하는 큰 메모리 세이브가 있었습니다.
이것 외로 특정 컬럼만 선택하는 방법 및 arrow, pickle, 0arquet 형대로 저장하여 파일 용량을 줄이는 방법도 있습니다.